<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj zadanie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<div th:replace="header-common :: header"></div>
<body>
<div class="container">

    <h3>Edytuj zadanie:</h3>
    </br>
    <form th:action="@{/task/edit}" method="post" th:object="${task}">
        <input type="hidden" name="taskId" th:field="*{id}"/>
        <label for="name">Opis zadania:</label>
        <input class="form-control" id="name" type="text" placeholder="Krótki opis zadania"
               aria-label="default input example"
               th:field="*{name}"/>
        </br>
        <label for="priority">Priorytet zadania:</label>
        <select class="form-select form-select-sm" aria-label="Small select example" id="priority"
                th:field="*{priority}">
            <option th:each="priority : ${T(pl.javastart.jjdind84_marcinfundalewicz_zad_25.Priority).values()}"
                    th:value="${priority}"
                    th:text="${priority.getPolishTranslation()}">
        </select>
        </br>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Edytuj zadanie</button>
        </div>
    </form>
    <div th:replace="footer-common :: footer"></div>
</div>
</body>
</html>